@import "../style/Colors.scss";

.cartProduct {
  background-color: white;
  width: calc(25% - 15px);
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid lightgrey;
  width: 100%;

  &__image {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  button {
    margin-top: 12px;
    height: 42px;
    background-color: $secondary;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: orange;
    }
  }
  &__info {
    flex: 1;
  }
}
